html {
  font-family: Ubuntu, Oswald, sans-serif;
  font-weight: 400; 
}

body * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.container {
   max-width: 1250px;
   margin: 0 auto; 
   padding: 0 15px;
}

.article {
    padding-top: 80px;
    padding-bottom: 120px;
}

.article-title {
  font-family: "Oswald", sans-serif;  
  font-weight: 600;
  font-size: 48px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
  margin-bottom: 40px;
}

.article-title-h1 {
    font-size: 48px;
}

.article-title-h2 {
    font-size: 36px;
}

.article-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-text-p {
    padding-bottom:  20px;
}

.article-text-mb {
    margin-bottom: 80px;
}



.article-decor-icon {
    position: relative;
}

.article-decor{
    position: absolute;
    z-index: -1;
}

.article-decor-1 {
    top: 100px;
    left: -350px;
}

.article-decor-2 {
    bottom: 136px;
    right:-350px;
}

.img {
    width: 100%;
}

.article-list {
    margin-top: 0px;
    padding-left: 16px;
    margin-bottom: 80px;
}

.article-item::marker {
    color: #3596ED;
    font-size: 20px;
}

video {
   width: 100%; 
   margin-bottom: 40px;
}

