.hero{
    padding-top: 80px;
    position: relative;
}

.hero::after{
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 47px;
    background: url(../images/decor-large-icon.svg) repeat-x;
    bottom: 106px;
}

.hero-container {
    display: flex;
    align-items: center;
    gap: 28px;

}

.hero h1{
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;

}

.hero h1 strong{
    color: #3596ed;
}

.hero-info .text{
    margin-bottom: 140px;
    max-width: 440px;
}

.hero-img{
    display: flex;
    position: relative;
}

.hero-choose{
    position: absolute;
    max-width: 161px;
    padding: 22px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #535755;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.news h2{
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.news-container{
    display: flex;
    gap: 28px;
}

.news-article{
    display: flex;
    flex-direction: column;
    max-width: 284px;
    border: 1px solid #d3cbd9;
    background: #fff;
    overflow: hidden;
}

.news-article img{
    display: block;
}

.news-info{
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-article footer{
    padding: 0px 20px 20px;
    margin-top: auto;
}

.news-article time{
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #858e8a;
    display: inline-block;
    padding-bottom: 8px;
}

.news-article h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #2c332f;
}

.news a{
    display: inline-flex;
    align-items: center;
    gap:8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
}

.news a::after{
    content: "";
    display: inline-block;
    width: 22px;
    height: 9px;
    background-image: url(../images/arrow-right-icon.svg);
    transition: transform 0.2s;
}

.news a:hover::after{
    transform: translateX(5px);
}

.faq{
    position: relative;
}
.faq::before{
    content: "";
    position: absolute;
    z-index: -1;
    width: calc(50% - 250px);
    height: 47px;
    background: url(../images/decor-large-icon.svg) repeat-x;
    top: 215px;
}

.faq h2{
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f; 
}

.details p{
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.faq-container{
    display: flex;
    gap: 28px;
}

details{
   margin-bottom: 20px;
   border-block: 1px solid #d3cbd9;;

}

details[open] summary::after{
    transform: rotate(180deg);
}

summary{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    user-select: none;
}

summary::after{
    content: "";
    display: inline-block;
    width: 17px;
    height: 22px;
    background: url(../images/arrow-down-icon.svg) no-repeat center / cover;
}

summary::-webkit-details-marker{
    display: none;
}

details > p{
    padding: 0 20px 20px;
}

